<div class="galeria-grid">
 <div class="card-foto">
  <img src="assets/laboratorio.png" alt="Laboratorio">
  <div class="descripcion-foto">
    <h4>Infraestructura Educativa</h4>
    <p>Instalaciones de vanguardia que permiten a los estudiantes potenciar su aprendizaje técnico, fomentando la innovación y la práctica profesional en un entorno colaborativo.</p>
  </div>
</div>

  <div class="card-recursos">
    <h3>Material de consulta</h3>
    <div class="lista-recursos-centrada">
      
      <div class="recurso-item">
        <img src="assets/angular-logo.png" alt="Angular" class="logo-grande">
        <div class="texto-recurso">
          <a href="https://www.youtube.com/watch?v=NYkXSClmaQg" target="_blank">Tutorial de Angular</a>
          <p>Framework potente para crear aplicaciones web dinámicas y escalables.</p>
        </div>
      </div>

      <div class="recurso-item">
        <img src="assets/css-logo.png" alt="CSS" class="logo-grande">
        <div class="texto-recurso">
          <a href="https://www.youtube.com/watch?v=3yM5uXp-T_0" target="_blank">Tutorial de CSS</a>
          <p>Lenguaje de estilos para diseñar interfaces modernas y responsivas.</p>
        </div>
      </div>

    </div>
  </div>
</div>