<!-- Esta es la barra de navegación que está siempre arriba -->
<div class="barra-navegacion">
  
  <!-- El logo o nombre del proyecto -->
  <div class="nombre-proyecto">📝 EvaluadorAcadémico</div>
  
  <!-- Los links de la barra -->
  <ul class="links-de-navegacion">
    <li><a routerLink="/home" routerLinkActive="link-activo">Inicio</a></li>
    <li><a routerLink="/evaluador" routerLinkActive="link-activo">Realizar Examen</a></li>
    <li><a routerLink="/resultados" routerLinkActive="link-activo">Ver Resultados</a></li>
  </ul>
</div>
