<nav class="barra-navegacion">
  <div class="nombre-proyecto">📝 EvaluadorAcadémico</div>
  
  <ul class="links-de-navegacion">
    <li><a routerLink="/home" routerLinkActive="link-activo">Inicio</a></li>
    <li><a routerLink="/evaluador" routerLinkActive="link-activo">Examen</a></li>
    <li><a routerLink="/resultados" routerLinkActive="link-activo">Resultados</a></li>
    <li><a routerLink="/nosotros" routerLinkActive="link-activo">Nosotros</a></li>
    <li><a routerLink="/galeria" routerLinkActive="link-activo">Galería</a></li>
    <li><a routerLink="/blog" routerLinkActive="link-activo">Blog</a></li>
  </ul>
</nav>
