<div class="nosotros-container">
  <h1>Sobre Nosotros</h1>
  
  <p class="descripcion-general">
    Somos estudiantes de segundo año de la carrera de Programación Full Stack en la 
    <strong>Universidad Provincial de Córdoba, sede Capilla del Monte</strong>.
    Este es un proyecto desorrallodo para la materia de Programación Web, utilizando herramientas como <strong>Angular</strong> y <strong>TypeScript</strong> para crear una aplicación web dinámica y funcional.   
  </p>
  
  <div class="equipo-grid">
    <div class="miembro">
        <h3>Sol De Francesco</h3>
        <p><strong>Rol:</strong> [Backend & Lógica]</p>
    </div>
    <div class="miembro">
        <h3>Selene Sayas</h3>
        <p><strong>Rol:</strong> [Evaluador & Formulario

]</p>
    </div>
    <div class="miembro">
        <h3>Emanuel Varela</h3>
        <p><strong>Rol:</strong> [Data, Stats & Integración

]</p>
    </div>
    <div class="miembro">
        <h3>Uma Roveta</h3>
        <p><strong>Rol:</strong> [Frontend (UI) & Routing

]</p>
    </div>
  </div>
</div>
