.contenedor {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.progreso {
  margin-bottom: 25px;
}

progress {
  width: 100%;
  height: 20px;
}

.pregunta {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

.opcion {
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}